

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

#meny a {
    text-decoration: none; 
    color: white; 
    padding: 10px; 
    transition: 0.3s ease; 
    border-radius: 5px; 
  }
  
  #meny a:hover {
    color: white; 
    background-color: rgb(0, 0, 0); 
    border-radius: 5px; 
  }
  
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
}

header {
    background-color: #333;
    color: #0081ea;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77b6ea 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style:none;
}

header ul li {
    display: inline;
    padding: 0 20px;
}

header h1 {
    float: left;
    display:flex ;
    align-items: center;
}

.section {
    padding: 20px 0;
    
    
}
.profilepicture{
    width: 40%;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;}

.project-card {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    flex: 0 1 30%;
    margin: 0 7.5px; 
    box-sizing: border-box; 
}
.Projectpicture{
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0081ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 600ms;
}

button:hover {
    background-color: #89b8de;
    border-color: #333;
    transition-duration: 600ms;
}
table {
    width: 80%;
    border-collapse: collapse; 
    margin: 20px 0; 
    font-family: Arial, sans-serif;
    font-size: 16px; 
    text-align: left;
  }

  thead th {
    background-color: blue; 
    color: white; 
    padding: 10px; 
    text-transform: uppercase; 
  }
  

  

  
.footer{
display: flex;
align-items: center;
justify-content: center;  
margin: 15px;
height: 100px;
}
@media (max-width: 768px) {
    .profilepicture {
       display: none;
    }
}
